<%- include('header.ejs') %> 
  <form  style=' margin-left:45%' action="/contact" method="POST">

    <label   for="homepage">Whom</label> <br>
    <input name='whom' type="text">  <br>

    <label for="homepage">Title</label> <br>
    <input name='title' type="text"> <br>

    <label  for="homepage"> Message</label> <br>
    <input name='message' type="message"> <br>

    <label for="homepage">Add your email:</label> <br>
    <input name='email' type="email"> <br>
    <input type="submit"> <br>
  </form>

<%- include('foother.ejs') %> 

</body>
</html>

