
<%- include('header.ejs') %> 

<form action="/random" method='POST'>
   <p>   min  <input name='min' type="text"> <br> </p> 
   <p>   max <input name='max' type="text"> <br> </p> 

   <input type="submit">
</form>


    
   

  <h1> <%- data %>    </h1>
<%- include('foother.ejs') %> 

</body>
</html>

